@model IEnumerable<Manufacturer>

@{
    ViewData["Title"] = "Manufacturers";
}

<div class="container">
    <div class=" col-md-8 offset-md-2">
        <div class="text-center p-3 my-3">
            <h1>Manufacturers</h1>
            <hr />
        </div>
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            <img class="rounded-5" src="@item.LogoURL" alt="@item.ManufacturerName" style="max-width: 100px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ManufacturerName)
                        </td>
                        <td class="text-center">
                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                        <a class="btn btn-danger btn-sm asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                                    }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="btn-group mt-4 align-middle">
                <a class="btn btn-primary" asp-controller="Products" asp-action="Index">Back To Products</a>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class="btn btn-success" asp-action="Create">Add a Manufacturer</a>
                }
            </div>
    </div>
</div>

