@model IEnumerable<Manufacturer>

@{
    ViewData["Title"] = "Manufacturers";
}

<div class="row">
    <div class=" col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.LogoURL)</th>
                    <th>@Html.DisplayNameFor(model => model.ManufacturerName)</th>
                    <th>@Html.DisplayNameFor(model => model.History)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded-5" src="@item.LogoURL" alt="@item.ManufacturerName" style="max-width: 100px"/>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.ManufacturerName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.History)
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="text-white" style="position: fixed; left: 50px; top: 150px;">
    <a class="btn btn-success" asp-controller="Brands" asp-action="Create"> <i class="bi bi-plus-circle"> Add New</i></a>
</div>
