@model Product

@{
    ViewData["Title"] = "Delete Product";
}

<div class="container-fluid">
    <div class="row mx-auto">
        <div class="col-sm-12 border-primary mt-5">
            <div class="card mb-3" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.ProductName
                                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@Model.Id"><i class="bg-info bi-pencil-square"></i> Edit</a>
                                    }
                                    *@
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="/images/@Model.ProductImageURL" width="100%" alt="@Model.ProductName">
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <p class="card-text">@Model.Description</p>
                            <p class="card-text"><b>Brand: </b>
                                <a asp-controller="Brands" asp-action="Details" asp-route-id="@Model.BrandId">
                                    @Model.Brand.BrandName
                                </a>
                            </p>
                            <p class="card-text"><b>Model Name: </b>@Model.Model</p>
                            <p class="card-text"><b>Price: </b>@Model.Price</p>
                            <p class="card-text"><b>Model Year: </b>@Model.ModelYear</p>
                            <p class="card-text"><b>Manufacturer: </b>
                                <a asp-controller="Manufacturers" asp-action="Details" asp-route-id="@Model.ManufacturerId">
                                    @Model.Manufacturer.ManufacturerName
                                </a>
                            </p>
                            <p class="card-text">
                                <b>Suppliers: </b>
                                <hr />
                                <div class="row">
                                    @foreach (var supplier in Model.ProductsSuppliers)
                                    {
                                        <div class="flex-column text-center">
                                            <a>@supplier.Supplier.Name</a>
                                        </div>
                                    }
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-end" asp-action="Index">
                                    <i class="bi bi-arrow-left"></i> Back to all Products</a>
                                 <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                                 </form>                                            
                            </p>
                        </div>

                        <div class="input-group float-end">
                            
                            <a class="btn btn-outline-primary" asp-action="Index">Show All</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

