@model Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="container py-5">
    <div class="row mb-5">
        <div class="col-lg-8 offset-lg-2 col-sm-12 border-primary mt-5">
            <div class="card  bg-dark rounded-3 align-middle mb-3" style="max-width: 900px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white">
                            <p class="card-text">
                                <h4 class="card-title">
                                    @Model.ProductName
                                    
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <div class="btn-group float-end">
                                            <a class="btn btn-secondary fw-bold" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi-pencil-square"></i> Edit</a>
                                            <a class="btn btn-danger fw-bold" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i> Delete</a>                                     
                                        </div>
                                    }
                                    
                                </h4>
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="/images/@Model.ProductImageURL" width="100%" alt="@Model.ProductName">
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <p class="card-text text-warning">@Model.Description</p>
                            <ul>
                              <li><span class="badge bg-warning text-dark">Model Name:</span> <span class="text-info">@Model.ProductName</span></li>
                              <li><span class="badge bg-warning text-dark">Brand:</span> <span class="text-info">
                                  <a asp-controller="Brands" asp-action="Details" asp-route-id="@Model.BrandId">
                                    @Model.Brand.BrandName
                                  </a></span>
                              </li>
                              <li><span class="badge bg-warning text-dark">Manufacturer:</span> <span class="text-info">
                                  <a asp-controller="Manufacturers" asp-action="Details" asp-route-id="@Model.ManufacturerId">
                                    @Model.Manufacturer.ManufacturerName
                                 </a></span>
                               </li>
                              <li><span class="badge bg-warning text-dark">Model Year:</span> <span class="text-info">@Model.ModelYear</span></li>
                              <li><span class="badge bg-warning text-dark">Price:</span> <span class="text-info">@Model.Price.ToString("c")</span></li>
                              @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                   <li>
                                       <span class="badge bg-warning text-dark">Suppliers:</span>
                                       @foreach (var supplier in Model.ProductsSuppliers)
                                        {
                                            <a text-info asp-controller="Suppliers" asp-action="Details" asp-route-id="@supplier.SupplierId">
                                                @supplier.Supplier.Name
                                                <span>|</span>
                                            </a>
                                        }
                                   </li>
                                }
                          </ul>
                            
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-info fw-bold float-end" asp-action="Index">
                                    <i class="bi bi-arrow-left"></i> Back to all Products</a>
                                <a class="btn btn-success text-dark fw-bold" asp-controller="Orders" asp-action="AddItemToShoppingCart" 
                                    asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i> Add to Cart (@Model.Price.ToString("c"))</a>                                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

