@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-sm-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.ProductName
                                    @*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bg-info bi-pencil-square"></i> Edit</a>
                                    }
                                    *@
                                    
                                    <a class="btn btn-danger float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                                    <a class="btn btn-secondary float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi-pencil-square"></i> Edit</a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-12">
                        <img src="@item.ProductImageURL" width="100%" alt="@item.ProductName">
                    </div>
                    <div class="col-12">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Brand: </b>@item.Brand.BrandName</p>
                            <p class="card-text"><b>Model Name: </b>@item.Model</p>
                            <p class="card-text"><b>Price: </b>@item.Price</p>
                            <p class="card-text"><b>Model Year: </b>@item.ModelYear</p>
                            <p class="card-text"><b>Manufacturer: </b>@item.Manufacturer.ManufacturerName</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details</a>
                                <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" 
                                    asp-route-id="@item.Id"><i class="bi bi-cart-plus"></i> Add to Cart (@item.Price.ToString("c"))</a>                                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
