@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="container py-5">
    <div class="mb-3 p-3 border-bottom border-dark">
            <h1 class="text-center text-dark">Orders</h1>
    </div>
    <div class="col-md-8 mx-auto">
        <table class="table mt-5">
            <thead>
                <tr>
                    <th class="text-center">Order ID</th>
                    <th class="text-center">Items</th>
                    <th class="text-center">Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                         <th class="text-center">User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Quantity</span> [@item.Price.ToString("c")] - @item.Product.ProductName
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(p=>p.Product.Price * p.Quantity).Sum().ToString("c")
                        </td>
                            
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <th class="text-center">@order.User.FullName</th>
                            }
                    </tr>
                        
                }
            </tbody>
        </table>
    </div>
</div>
