@model Supplier;

@{
    ViewData["Title"] = "Supplier Details";
}

<div class="container py-3">
    <div class="my-4 py-5 border-bottom border-dark">
        <h1 class="text-center text-dark">Details for Supplier: <span class="badge bg-secondary text-dark fw-bold" style="font-size: 2.5rem">@Model.Name</span></h1>
    </div>

    <div class="card bg-dark col-md-8 p-2 mt-5 mx-auto" style="max-width: 640px; ">
        <div class="card-header border-white">
            <h3 class="card-title text-info">@Model.Name</h3>
        </div>
        <div class="card-body">
            <ul>
                <li><span class="badge bg-warning text-dark">Email:</span> <span class="text-info">@Model.Email</span></li>
                <li><span class="badge bg-warning text-dark">Phone#:</span> <span class="text-info">@Model.Phone</span></li>
            </ul>
            <p class="text-warning pb-1">
                @Model.Description
            </p>
        </div>
        <div class="card-footer border-white">
            <div class="btn-group float-end pt-2">
                <a class="btn btn-primary fw-bold" asp-action="Index">Suppliers</a>
                <a class="btn btn-secondary fw-bold" asp-action="Edit" asp-route-id="@Model.Id"><i class="bi-pencil-square"></i> Edit</a>
                <a class="btn btn-danger fw-bold" asp-action="Delete" asp-route-id="@Model.Id"><i class="bi bi-trash"></i> Delete</a> 
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}

