@model IEnumerable<Brand>

@{
    ViewData["Title"] = "List of Brands";
}

<div class="container">
    <div class="mb-3 p-3 border-bottom">
        <h1 class="text-center">Brands</h1>
    </div>
        <div class=" col-lg-8 mx-auto">
            <table class="table">
                @*<thead>
                    <tr class="align-middle">
                        <th class="text-center">Logo</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>*@
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="align-middle">
                            <td class="text-center">
                                <img class="rounded-5" src="@item.LogoURL" alt="@item.BrandName" style="max-width: 100px; max-height: 70px"/>
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.BrandName)
                            </td>
                            
                            <td class="text-center">
                                <a class="btn btn-warning btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                    {
                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                        <a class="btn btn-danger btn-sm asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                                    }
                            </td>
                        
                        </tr>
                    }
                </tbody>
            </table>
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <div class="mt-4 text-center">
                <a class="btn btn-success" asp-action="Create">Add a Brand</a>
            </div>
        }
            
        </div>
</div>

